langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
# langchain-ollama
langchain-groq
langchain_huggingface
pypdf
faiss-cpu
langchain_chroma
chromadb==0.3.29
pysqlite3-binary